@import '../../../styles/variables';

.bioDome {


    .bio-card {
      margin: 10px;
      max-width: 800px;
      font-weight: 600;
      background-color: $offwhite;
      border-radius: 10px;
      
      .card-title {
        font-family: $righteous;
      }

      .card-text {
        font-family: $exo2;
      }
    }
}
  
  .hideMore {
    display: none;
  }