h1 {
    text-align: center;
    border-style: ridge;
    border-color: lightgoldenrodyellow;
    background-color: slategray;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    background-color: lightslategray;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: 2em;
}
/*
#bioPage {
    text-align: center;
    border-style: double;
    border-color: lightgoldenrodyellow;
    background-color: slategray;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1em;
}

#technologiesPage {
    text-align: center;
    border-style: double;
    border-color: lightgoldenrodyellow;
    background-color: slategray;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1em;
}

#projectsPage {    
    text-align: center;
    border-style: double;
    border-color: lightgoldenrodyellow;
    background-color: slategray;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1em;
}*/