@import '../../../styles/main.scss';

.navbar {
  background-color: $offwhite;
  height: 65px;
  align-content: center;
  display: flex;

  .logoImg {
    width: auto;
    height: 60px;
    overflow: hidden;
    margin-right: 5px;

  }

  .navbar-brand{
  font-family: $exo2;
  font-weight: bold;
  color: black;
  width: fit-content;
    text {
      width: inherit;
    }
  }

  #navbarNav {
    font-family: $righteous;
    font-weight: 600px;
    justify-content: flex-end;
    .btn {
      margin: 3px;
    }
  }
}