@import url('https://fonts.googleapis.com/css?family=Exo+2|Righteous|Roboto|Roboto+Mono|Roboto+Slab&display=swap');

//colors
$offwhite: 	#e4e5e7;

// font families
$righteous: 'Righteous', cursive;
$exo2: 'Exo 2', sans-serif;
$roboto: 'Roboto', sans-serif;
$robo-slab: 'Roboto Slab', serif;
$robomono: 'Roboto Mono', monospace;