@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightslategray;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: 2em;
}

nav {
    background: lightgray;
}

.container {
    display: flex;
    flex-direction: column;
  }