@import "~bootstrap/scss/bootstrap";
@import './variables';

body {
    background-color: rgb(170, 177, 184);
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: 2em;
}

nav {
    border-radius: 10px;
}

.footer{
    text-align: center;
    padding: 20px;
    font-size: 25px;
    margin: 5px;
    color: #000;
    position: fixed bottom;
    list-style: none;
    i{
        color:black;
        margin: 20px;
    }

    .footerImg {
        max-height: 125px;
        overflow: hidden;
    }
}

.hide {
    display: none;
}

.tech-card {
    width: 200px;
    height: 200px;
    background-color: transparent;
    border-color: transparent;
    border-style: transparent;
    margin: 10px;
  }