@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightslategray;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: 2em;
}

nav {
    background: lightgray;
}

.container {
    display: flex;
    flex-direction: column;
  }

.footer{
    text-align: center;
    padding: 20px;
    font-size: 25px;
    margin: 5px;
    color: #000;
    position: fixed bottom;
    list-style: none;
    i{
        color:black;
        margin: 20px;
    }
}

.hide {
    display: none;
}