@import '../../../styles/main.scss';

#homePage {
  margin: 25px 0 0 0;
  flex-flow: row wrap;
  pointer-events: auto;
  justify-content: space-around;

  .single-card {
  min-width: 200px;
  max-width: 400px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 5px;
  margin: 10px;
  background-color: $offwhite;
  justify-content: space-around;
  }
  
  .homeCard-title {
  text-transform: uppercase;
  font-family: $exo2;
  font-weight: bolder;
  }
  
  .crop-image {
  width: auto;
  height: 200px;
  }

  .homepage-image {
  overflow: hidden;
  width: auto;
  height: 100%;
  text-align: center;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    cursor: pointer;
    }
  }
}
